<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="2479987a-73fa-431b-9ddc-34a00efef7f0" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://undcemr-odr013.nswhealth.net:8080 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2479987a-73fa-431b-9ddc-34a00efef7f0fileName">http%3A%2F%2Fundcemr-odr013.nswhealth.net%3A8080-1</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://undcemr-odr013.nswhealth.net:8080</con:endpoint>
  </con:endpoints>
</con:interface>
